<div id="show-page">
    <h2>Trail details</h2>
    <ul>
        <li>Name: <%= trail.name %></li>
        <li>Length: <%= trail.length %> miles</li>
        <li>Location: <%= trail.location %></li>
        <li>Conditions: <%= trail.conditionDetails %></li>
        <li>Conditions date: <%= trail.conditionDate %></li>
    </ul>
    <form method="POST" action="/profile/<%= trail.id %>">
        <input type="hidden" name="name" value="<%= trail.name %>">
        <input type="hidden" name="length" value="<%= trail.length %>">
        <input type="hidden" name="location" value="<%= trail.location %>">
        <input type="hidden" name="conditions" value="<%= trail.conditionDetails %>">
        <input type="hidden" name="conditionsDate" value="<%= trail.conditionDate %>">
        <input class="btn" type="submit" value="Add to profile">
    </form>
</div>